<div id="left-header-container" class="d-flex justify-content-between align-items-center px-2 py-0 border-bottom">
    <img id="user-avatar" class="rounded-circle" src="../ClientGroupChat/static/imgs/img.jpg" alt="Avatar" width="50px" height="50px" />
    <div class="d-flex">
        <i id="create-group-icon" class="open-model fa fa-plus mr-3" ></i>
        <i id="add-friend-icon" class="open-model fa fa-user-plus mr-3"></i>
        <i id="show-option-icon" class="open-model fa fa-ellipsis-v mr-3"></i>
    </div>
</div>